.container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addBtn {
  background: #006c47;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.addBtn:hover {
  background: #008b5f;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

.table th {
  background: #f3f3f3;
  padding: 12px;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;
}

.table tr:hover {
  background: #fafafa;
}

/* Status Colors */
.approved {
  color: #0a7300;
  font-weight: 600;
}

.pending {
  color: #d19600;
  font-weight: 600;
}

.rejected {
  color: #d60000;
  font-weight: 600;
}

/* Buttons */
.viewBtn,
.rejectBtn,
.approveBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 6px;
  font-size: 14px;
}

.viewBtn {
  background: #e7f0ff;
  color: #084dbf;
}

.approveBtn {
  background: #eaffea;
  color: #0a7c00;
}

.rejectBtn {
  background: #ffe7e7;
  color: #d30000;
}
