.container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.addBtn {
  background: #006c47;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.addBtn:hover {
  background: #008b5f;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

.table th {
  background: #f0f0f0;
  padding: 12px;
  text-align: left;
  font-weight: 600;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #e6e6e6;
}

.active {
  color: coral;
  font-weight: 600;
}

.inactive {
  color: red;
  font-weight: 600;
}

.viewBtn,
.editBtn,
.deleteBtn {
  border: none;
  padding: 6px 10px;
  margin-right: 6px;
  cursor: pointer;
  border-radius: 6px;
}

.viewBtn {
  background: #e7f3ff;
  color: #0b63c4;
}

.editBtn {
  background: #fff5e6;
  color: #c47f0b;
}

.deleteBtn {
  background: #ffe7e7;
  color: #d70000;
}
